//
    Template default para: dbms.enderecos.end_bairros
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.seven.wide Bairro
            th.eight.wide Cidade
            th.one.wide
    tbody
        tr(
            rv-each-row='dbms.enderecos.end_bairros.data.rows'
            rv-row-key='row.end_bairros_key'
        )
            td(
                rv-row-key='row.end_bairros_key'
                server='dbms enderecos end_bairros edit'
            )
                i.edit.icon
                |  {row.bairro}
            td {row.cidade}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )