table.ui.selectable.table
    thead
        th.ten.wide Centro de Resultados
        th.four.wide Percentual
        th.two.wide Remover
    tbody
        tr(
            rv-each-row='dbms.contabil.cont_historicos_resultados_rel.data.rows'
            rv-hide='row._deleted_'
        )
            td {row.codigo} - {row.centro_resultado}
            td
                .ui.right.labeled.input
                    input(
                        type='text'
                        class='ui fluid'
                        onkeyup='tshark.mask.float(this)'
                        onclick='tshark.mask.float(this)'
                        rv-value='row.percentual'
                        style='text-align:right'
                    )
                    .ui.label %

            td
                button.mini.circular.ui.red.icon.button(
                    rv-row-key='row.cont_centro_resultados_key'
                    client='dbms contabil cont_centro_resultados remover'
                )
                    i.icon.delete

.ui.mini.compact.left.floated.secondary.menu

    .item
        button.ui.green.labeled.icon.button(
            server='dbms contabil cont_historicos_resultados_rel create'
        )
            i.plus.icon
            | Acrescentar

.ui.modal(class='dbms contabil cont_historicos_resultados_rel-form')

    // Header
    .ui.header
        i.big.icon(class='browser')
        .content
            | Centro de Resultados

    // Form
    div.content(class='dbms contabil cont_historicos_resultados_rel-form-area')

    // Botões
    div.actions
        div.ui.green.button.ok()
            | Salvar Alterações

        div.ui.orange.button.cancel()
            | Cancelar