extends ../../../../_common/views/header

// Título do app
block title
    title='Addmark - RetailPRO - Financeiro'


// Estilos do app
block app_css


// Javascripts do app
block app_scripts
    script(type='application/javascript', src='cockpit.js')
    script(type='application/javascript', src='configuracoes.js')


block content
    .ui.content.app
        img#logo_tshark.ui.image.cursor(src='imgs/_logos/tshark.png')
        .ui.padded.container.segment.app-header
            h1.ui.header
                img.app-logo-header(src='imgs/_logos/cacaushow.png')
                .content
                    | Sistema Financeiro
                    .sub.header
                        | Gestão financeira | AddMark
            .app-menu-trigger.ui.floated.right.secondary.menu
                a.browse.item
                    i.sidebar.icon
                    | Menu

            .app-menu-popup.ui.flowing.popup.bottom.left.transition.hidden
                .ui.four.column.doubling.stackable.relaxed.equal.height.divided.grid
                    .column(rv-each-menu='sys.app.menu.data.rows')
                        h4.ui.header(style="white-space: nowrap;")
                            i(rv-class='menu.icon')
                            | {menu.label}
                        .ui.link.list
                            a.item(
                                rv-each-submenu='menu.submenu'
                                rv-data-action='submenu.api'
                                rv-data-area='submenu.area | if submenu.area menu.area'
                                rv-data-menu-index='menu._index_'
                                rv-data-submenu-index='submenu._index_'
                                rv-on-click='sys.app.menu.click'
                                style="white-space: nowrap;"
                            )
                                i.angle.double.right.icon
                                | {submenu.label}

            .app-submenu-popup.ui.flowing.popup.transition.hidden
                .ui.two.column.doubling.stackable.relaxed.equal.height.divided.grid
                    .column(rv-each-menu='submenu')
                        h4.ui.header(style="white-space: nowrap;")
                            i(rv-class='menu.icon')
                            label {menu.label}
                        .ui.link.list
                            .item.icon(rv-each-sub='menu.submenu', style="white-space: nowrap;")
                                i.angle.double.right.icon
                                | {sub.label}


        .ui.container.segment.app-bar
            .ui.steps
                .step.cursor(
                    rv-class-active='item.active'
                    rv-each-item='sys.app.menu.appbar'
                    rv-data-action='item.api'
                )
                    i(rv-class='item.icon')
                    .content
                        .title {item.title} / {item.icon}
                        .description {item.description}


        // **** Cockpit **** //
        .ui.container.transition.app-home
            include _areas/cockpit

        .ui.container.app-financas.transition.hidden
            include financas/financas

        .ui.container.app-integracoes.transition.hidden
            | Hello Integracoes

        .ui.container.app-cadastros.transition.hidden
            include cadastros/cadastros

        .ui.container.app-sistema.transition.hidden
            | Hello Sistema

