extends ../../../../_common/views/header

// Título do app
block title
    title='Dreams - Administração'


// Estilos do app
block app_css


// Javascripts do app
block app_scripts

    // Componentes

    // Areas


block content
    .ui.content.app

        .ui.padded.container.segment.app-header
            h1.ui.header
                img.app-logo-header(src='_imgs/_logos/dreams.png')
                .content
                    | Dreams App Server
                    .sub.header
                        | Central de Controle - Dreams

            .app-menu-trigger.ui.floated.right.secondary.menu
                a.browse.item
                    i.sidebar.icon
                    | Menu

            .app-menu-popup.ui.flowing.popup.bottom.left.transition.hidden
                .ui.one.column.doubling.stackable.relaxed.equal.height.divided.grid
                    .column(rv-each-menu='sys.app.menu.data.rows')
                        h4.ui.header(style="white-space: nowrap;")
                            i(rv-class='menu.icon')
                            | {menu.label}
                        .ui.divider
                        .ui.link.list
                            a.item(
                                rv-each-submenu='menu.submenu'
                                rv-server='submenu.server'

                                rv-client="submenu.client | or 'app areas show'"
                                rv-data-area='submenu.area | or menu.area'
                                rv-data-subarea='submenu.subarea'
                                rv-data-index='submenu.index'
                                rv-on-click='sys.app.menu.hideMenu'
                                style="white-space: nowrap;"
                            )
                                i(rv-class="submenu.icon | or 'settings icon'")
                                .content
                                    .description {submenu.label}
                                .ui.divider




        .ui.container.transition.hidden.app_home
            include app_admin

            include app_apis

            include app_config

            include app_acesso

            include automod