//
   Created by labs on 09/06/16.

.ui.container.transition.hidden.app_apis
    .ui.padded.container.segment
        .ui.form
            h4.ui.dividing.header
                i.settings.icon
                | Validação de Chamadas de API
            .field
                .fields
                    .four.wide.field
                        select.ui.fluid.dropdown(rv-on-change='updateVerb')
                            option(value='') API...
                            option(
                            rv-each-row='struct.apis'
                            rv-value='row._index_'
                            rv-text='row.label'
                            )
                    .four.wide.field
                        select.ui.fluid.dropdown#verb
                            option(value='') Verbo...
                            option(
                            rv-each-row='struct.verb'
                            rv-value='row._index_'
                            rv-text='row.label'
                            )

                    .six.wide.field
                        input#url(type='text', placeholder='/dreams/', rv-value='struct.url')

                    .two.wide.field
                        input#key(type='text', placeholder='key')

            .field
                .fields
                    .seven.wide.field
                        input#params(type='text', placeholder='params')

                    .seven.wide.field
                        input#token(type='text', placeholder='token')

                    .two.wide.field
                        .ui.green.button(rv-on-click='callAPI') Testar

    .ui.padded.container.segment
        h4.ui.dividing.header
            i.code.icon
            | Resultado

        // Listagem
        #listagem.two.cards.ui(style='height: 350px; overflow: scroll;')

    // Janela central
    #lists.ui.modal
        .content
            .secondary.ui.menu

                // Título da janela
                h3.ui.left.aligned.dividing.fluid.header
                    i.list.layout.icon
                    div.content.flowing
                        span.cursor Listagem Genérica de Dados
                        .sub.header.cursor

                // Área de pesquisa e botões
                .right.menu
                    .item
                        div.ui.icon.input
                            i.search.icon
                            input#search(type='text', placeholder='Pesquisar...',
                            rv-data-action='api.search'
                            )
                    .item
                        button.ui.green.labeled.icon.button(rv-data-action='api.create')
                            i.add.icon
                            |   Acrescentar

            // Listagem
            #listagems.two.cards.ui(style='height: 88%; overflow: scroll;')


    #form.ui.modal
        .header
            i.big.browser.icon
            |  Formulário Genérico de Dados
        div.content
            .description Edicao
        div.actions
            div.ui.green.button.ok(
            rv-data-action='api.save',
            rv-data-form='api.last_form_id'
            ) Salvar Alterações
            div.ui.orange.button.cancel Cancelar
