//
   Created by labs on 11/05/16.

.ui.container.transition.hidden.app-areceber
    .ui.fluid.card
        .content
            span.right.floated.ui.secondary.menu
                .ui.dropdown.item
                    i.options.icon
                    span.text Vencimento
                    .menu
                        .item(
                        rv-each-menu='cockpit.struct.receitas.options'
                        rv-on-click='cockpit.popSubmenu'
                        rv-data-key='menu._index_'
                        data-sub='receitas'
                        style="white-space: nowrap;"
                        )
                            i(rv-class='menu.icon')
                            span.text {menu.label}

            span.right.floated.ui.secondary.menu
                .ui.dropdown.item
                    span.text
                        i.list.icon
                        | Listagem
                    .menu
                        .active.item(rv-on-click='cockpit.showListRec')
                            i.list.icon
                            span.text Listagem
                        .item(rv-on-click='cockpit.showChartRec')
                            i.pie.chart.icon
                            span.text Gráficos

            .header Recebimentos Programados
            .meta Período 08/05/2016 à 15/05/2016
            .description
                canvas.transition.hidden#barRec

                .ui.fluid.styled.accordion.non-exclusive.lista.receitas
                    span(rv-each-row='cockpit.struct.receitas.data')
                        .active.title
                            i.dropdown.icon
                            | {row.label}
                        .active.content
                            .ui.bottom.aligned.stackable.grid
                                .row.app-grid-rows(rv-each-item='row.values')
                                    .thirteen.wide.column
                                        | {item.nome} -
                                        | {item.historico}
                                    .three.wide.column.right.aligned.app-receita {item.valor | numberFormat 2 ',' '.'}
                                .row.app-grid-rows
                                    .column.right.aligned.app-receita {row._stats.sum.valor | numberFormat 2 ',' '.'}

        .extra.content
            .right.floated
                | Total à Receber: R$ {cockpit.struct.receitas.data._stats.sum.valor | numberFormat 2 ',' '.'}
