//
    Template default para: dbms.enderecos.end_cidades
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.two.wide Código IBGE
            th.ten.wide Cidade
            th.three.wide Estado
            th.one.wide
    tbody
        tr(
            rv-each-row='dbms.enderecos.end_cidades.data.rows'
            rv-row-key='row.end_cidades_key'
        )
            td {row.ibge}

            td(
                rv-row-key='row.end_cidades_key'
                server='dbms enderecos end_cidades edit'
            )
                i.edit.icon
                |  {row.cidade}
            td {row.estado}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )
