//
   Created by labs on 11/05/16.

.ui.container.transition.hidden.app-apagar
    .ui.fluid.card
        .content

            // Menu Agrupamento
            span.right.floated.ui.secondary.menu
                .ui.labeled.icon.selection.dropdown.pivot.apagar
                    i
                    span.text
                    .menu
                        .header
                            i.options.icon
                            | Agrupar por...
                        .divider
                        .item(
                           rv-each-menu='dbms.financeiro.fin_apagar.pivotOpts'
                           rv-data-value='menu.value'
                           style="white-space: nowrap;"
                        )
                            i(rv-class='menu.icon')
                            | {menu.label}

            // Menu Listagem / Chart
            span.right.floated.ui.secondary.menu
                .ui.labeled.icon.selection.dropdown.display.apagar
                    i
                    span.text
                    .menu
                        .header
                            i.options.icon
                            | Visualizar...
                        .divider
                        .item(
                            rv-each-menu='dbms.financeiro.fin_apagar.displayOpts'
                            rv-data-value='menu.value'
                            style="white-space: nowrap;"
                        )
                            i(rv-class='menu.icon')
                            | {menu.label}

            // Listagem
            .header Pagamentos Programados
            .meta
                | Período: &nbsp;
                a.ui.basic.label(client='app periodo changeDe', data-modulo='dbms.financeiro.fin_apagar')
                    | {periodo.de}&nbsp;&nbsp;&nbsp;
                    i.calendar.icon
                |&nbsp; à &nbsp;
                a.ui.basic.label(client='app periodo changeAte', data-modulo='dbms.financeiro.fin_apagar')
                    | {periodo.ate}&nbsp;&nbsp;&nbsp;
                    i.calendar.icon

            .description

                // Gráfico
                canvas.transition.hidden#chart_apagar

                // Listagem
                .ui.fluid.styled.accordion.non-exclusive.lista.apagar
                    span(rv-each-row='dbms.financeiro.fin_apagar.data.group')
                        .title
                            i.dropdown.icon
                            | {row.label}
                            .basic.label.app-despesa-title-sum {row._stats.sum.valor_bruto | money}
                        .content
                            .ui.bottom.aligned.stackable.grid
                                .row.cursor.app-grid-rows(
                                    rv-each-item='row.values'
                                    rv-row-key='item.fin_lancamentos_key'
                                    data-action='dbms financeiro fin_apagar edit'
                                )
                                    .thirteen.wide.column
                                        | {item.parceiro} -
                                        | {item.descricao}
                                    .three.wide.right.aligned.cursor.column.app-despesa
                                        | {item.valor_bruto | money}

                                    // Popup do row
                                    .ui.flowing.left.center.transition.hidden.popup
                                        .ui.icon.menu
                                            .item
                                                i.gamepad.icon
                                            .item
                                                i.camera.icon
                                            .item
                                                i.play.icon

                                .row.app-grid-rows
                                    .thirteen.wide.right.aligned.column Subtotal:
                                    .three.wide.column.right.aligned.app-despesa-sum {row._stats.sum.valor_bruto | money}


        .extra.content
            span.right.floated.app-despesa-footer-sum
                | Total à Pagar: R$ {dbms.financeiro.fin_apagar.data.group._stats.sum.valor_bruto | money}



#form_apagar.ui.modal
    .header
        i.big.browser.icon
        |  Lançamentos à Pagar
    div.content
        .description#form_area_apagar
    div.actions
        div.ui.green.button.ok(
            data-action='dbms financeiro fin_apagar save',
        ) Salvar Alterações
        div.ui.orange.button.cancel Cancelar
