//
   Created by labs on 11/05/16.

.ui.container.transition.hidden.app-apagar
    .ui.fluid.card
        .content

            // Menu Agrupamento
            span.right.floated.ui.secondary.menu
                .ui.labeled.icon.selection.dropdown.pivot.apagar
                    i
                    span.text
                    .menu
                        .header
                            i.options.icon
                            | Agrupar por...
                        .divider
                        .item(
                           rv-each-menu='dbms.financeiro.fin_apagar.pivotOpts'
                           rv-data-value='menu.value'
                           style="white-space: nowrap;"
                        )
                            i(rv-class='menu.icon')
                            | {menu.label}

            // Menu Listagem / Chart
            span.right.floated.ui.secondary.menu
                .ui.mini.labeled.icon.selection.dropdown.display.apagar
                    i
                    span.text
                    .menu
                        .header
                            i.options.icon
                            | Visualizar...
                        .divider
                        .item(
                            rv-each-menu='dbms.financeiro.fin_apagar.displayOpts'
                            rv-data-value='menu.value'
                            style="white-space: nowrap;"
                        )
                            i(rv-class='menu.icon')
                            | {menu.label}

            // Área de trabalho
            .header Pagamentos Programados
            .meta
                | Período: &nbsp;
                a.ui.basic.label(client='app periodo changeDe', data-modulo='dbms.financeiro.fin_apagar')
                    | {periodo.de}&nbsp;&nbsp;&nbsp;
                    i.calendar.icon
                |&nbsp; à &nbsp;
                a.ui.basic.label(client='app periodo changeAte', data-modulo='dbms.financeiro.fin_apagar')
                    | {periodo.ate}&nbsp;&nbsp;&nbsp;
                    i.calendar.icon

            .description

                // Gráfico
                canvas.transition.hidden#chart_apagar

                // Listagem
                .ui.fluid.styled.accordion.non-exclusive.lista.apagar
                    span(rv-each-row='dbms.financeiro.fin_apagar.data.group')
                        .title
                            i.dropdown.icon
                            | {row.label}
                            .basic.label.app-despesa-title-sum {row._stats.sum.valor_bruto | money}
                        .content
                            .ui.bottom.aligned.stackable.grid
                                .row.cursor.app-grid-rows(
                                    rv-each-item='row.values'
                                    rv-row-key='item.fin_lancamentos_key'

                                )
                                    .eleven.wide.column
                                        i.edit.icon(server='dbms financeiro fin_apagar edit', rv-row-key='item.fin_lancamentos_key')
                                        | {item.parceiro} -
                                        | {item.historico}

                                    .two.wide.right.aligned.column
                                        .ui.tooltip.app-apagar-tooltip-datas(
                                            rv-data-dt_vencimento='item.dt_vencimento'
                                            rv-data-dt_documento='item.dt_documento'
                                            rv-data-dt_lancamento='item.dt_lancamento'
                                        )
                                            i.calendar.icon
                                            | {item.dt_vencimento}

                                    .three.wide.right.aligned.cursor.column.app-despesa
                                        .ui.app-despesa-action
                                            i.dollar.icon
                                            | {item.valor_bruto | money}
                                            //i.settings.icon

                                        // Popup do row
                                        .ui.flowing.left.center.transition.hidden.popup
                                            .ui.icon.menu
                                                .item
                                                    i.gamepad.icon
                                                .item
                                                    i.camera.icon
                                                .item
                                                    i.play.icon

                                .row.app-grid-rows
                                    .thirteen.wide.right.aligned.column Subtotal:
                                    .three.wide.column.right.aligned.app-despesa-sum {row._stats.sum.valor_bruto | money}

        // Footer
        .extra.content
            span.right.floated.app-despesa-footer-sum
                | Total à Pagar: R$ {dbms.financeiro.fin_apagar.data.group._stats.sum.valor_bruto | money}


// Form popup de edição teste labs
.ui.modal.app-apagar-form

    // Header
    .ui.header
        i.big.browser.icon
        .content
            | Lançamentos à Pagar
            .sub.header {dbms.financeiro.fin_apagar.formInfo}

    // Form
    div.content.dbms.financeiro.fin_apagar-form

    // Botões
    div.actions
        div.ui.green.button.ok(
            server='dbms financeiro fin_apagar save',
        ) Salvar Alterações
        div.ui.orange.button.cancel Cancelar
