//
    Template default para: dbms.enderecos.end_paises
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.one.wide Ativo
            th.two.wide Sigla
            th.three.wide País
            th.nine.wide Nacionalidade
            th.one.wide
    tbody
        tr(
            rv-each-item='dbms.enderecos.end_paises.data.rows'
            rv-row-key='item.end_paises_key'
        )
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='item.ativo'
                        rv-row-key='item.end_paises_key'
                        server-onchange='dbms enderecos end_paises update'
                    )
            td {item.sigla}
            td(
                rv-row-key='item.end_paises_key'
                server='dbms enderecos end_paises edit'
            )
                i.edit.icon
                | {item.pais}
            td {item.nacionalidade}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                        rv-checked='item._selected_'
                        rv-row-selected='item._selected_'
                    )