//
    Template default para: dbms.enderecos.end_tipos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.one.wide Ativo
            th.one.wide Banido
            th.five.wide Sonho
            th.four.wide Usuário
            th.two.wide Status
            th.two.wide Privacidade
            th.one.wide
    tbody
        tr(
            rv-each-row='dreams.dreams.dreams.data.rows'
            rv-row-key='row.dreams_key'
        )
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='row._active'
                        rv-row-key='row.dreams_key'
                        server-onchange='dreams dreams dreams update'
                    )
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='row._banned'
                        rv-row-key='row.dreams_key'
                        server-onchange='dreams dreams dreams update'
                    )
            td(
                rv-row-key='row.dreams_key'
                server='dreams dreams dreams edit'
                )
                i.edit.icon
                | {row.description}

            td
                |  {row.username}

            td
                span(rv-if="row._status | igualA '1'") To Come True
                span(rv-if="row._status | igualA '2'") Coming True
                span(rv-if="row._status | igualA '3'") Came True

            td
                span(rv-if="row._privacy | igualA 'P'") Privado
                span(rv-if="row._privacy | igualA 'S'") Secreto
                span(rv-if="row._privacy | igualA 'F'") Seguidores
                span(rv-if="row._privacy | igualA 'C'") Coletivo

            td
                .ui.checkbox
                    input(
                        type='checkbox'
                        rv-checked='row._selected_'
                        rv-row-selected='row._selected_'
                    )
