
.ui.fluid.card
    .content
        .ui.mini.compact.right.floated.secondary.menu
            .item
                .ui.action.input
                    input#input_pesquisa(
                    type='text'
                    placeholder='Pesquisar...'
                    server-onkeypress='dbms empresas emp_clientes search'
                    data-comp='#input_pesquisa'
                    )
                    button.ui.icon.button.cursor(
                    server='dbms empresas emp_clientes search'
                    data-comp='#input_pesquisa'
                    )
                        i.search.icon
            .item
                i.big.settings.icon(rv-class-disabled='dbms.empresas.emp_clientes.data.selected.rv.has_any | not')
        .header Clientes Cadastrados
    .content
            table.ui.selectable.table
                thead
                    tr
                        th Razão Social
                        th Telefone
                        th Email
                        th Site
                tbody
                    tr(
                        rv-each-item='dbms.empresas.emp_clientes.data.rows'
                        rv-row-key='item.emp_clientes_key'
                        client-ondblclick='app areas show'
                        data-area='app-cadastros'
                        data-subarea='app-clientes_detalhes'
                    )
                        td {item.parceiro}
                        td {item.fone_empresa}
                        td {item.email_empresa}
                        td {item.site_empresa}
