//
    Template default para: dbms.contabil.cont_historicos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.two.wide Ativo
            th.seven.wide Categoria
            th.four.wide Determinação
            th.two.wide Tipo
            th.one.wide
    tbody
        tr(
        rv-each-row='dbms.contabil.cont_historicos.data.rows'
        rv-row-key='row.cont_historicos_key'
        )

            td
                .ui.toggle.checkbox
                    input(
                    type="checkbox"
                    rv-checked='row.ativo'
                    rv-row-key='row.cont_historicos_key'
                    server-onchange='dbms contabil cont_historicos update'
                    )
            td(
            rv-row-key='row.cont_historicos_key'
            server='dbms contabil cont_historicos edit'
            )
                i.edit.icon
                |  {row.historico}
            td {row.descricao}
            td {row.tipo}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )