//
    Template default para: dbms.enderecos.end_eletronico_tipos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.one.wide Código
            th.fourteen.wide Tipo de Endereço Eletrônico
            th.one.wide
    tbody
        tr(
        rv-each-row='dbms.enderecos.end_eletronico_tipos.data.rows'
        rv-row-key='row.end_eletronico_tipos_key'
        )
            td(class='center aligned') {row.end_eletronico_tipos_key}
            td(
            rv-row-key='row.end_eletronico_tipos_key'
            server='dbms enderecos end_eletronico_tipos edit'
            )
                i.edit.icon
                |  {row.tipo}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )