//
    Template de seletor de opções em boxes de listagem, agrupamentos, etc...
    ex:
        +seletor('Visualizar...', 'dbms.financeiro.fin_apagar.displayOpts')
mixin seletor(title, itens)

    // Trigger
    .ui.right.floated.basic.button.inline.pop(
            data-position='left center'
            data-exclusive='true'
            data-hoverable='true'
        )
            i.settings.icon
            = title

    // Popup
    .ui.vertical.pointing.menu.popup.transition.hidden
        a.item.cursor(
            rv-each-menu=itens
            rv-data-value='menu.value'
            rv-client='menu.client'
            rv-server='menu.server'
            style="white-space: nowrap;"
        )
            i(rv-class='menu.icon')
            | {menu.label}
        .divider

// old
    span.right.floated.ui.secondary.menu
        .ui.labeled.icon.selection.dropdown(class=classe)
            i
            span.text
            .menu.popup.left.transition.hidden
                .header
                    i.options.icon
                    = title
                .divider
                .item(
                        rv-each-menu=itens
                        rv-data-value='menu.value'
                        style="white-space: nowrap;"
                    )
                    i(rv-class='menu.icon')
                    | {menu.label}
