//
    Template default para: dbms.movimentacoes.mov_tipos
    Criado em Mon Jun 13 2016 08:54:12 GMT-0300 (BRT)

.ui.fluid.accordion.multiple(rv-each-row='dbms.movimentacoes.mov_tipos.data.group')
    .ui.divider
    .title.active
        i.dropdown.icon
        | {row.label}
    .content.active
        .ui.bottom.aligned.stackable.fluid.divided.grid
            .row.cursor(
                rv-each-item='row.values'
                rv-row-key='item.mov_tipos_key'
            )
                .one.wide.column
                    .ui.toggle.checkbox
                        input(
                            type="checkbox"
                            rv-checked='item.ativo'
                            rv-row-key='item.mov_tipos_key'
                            server-onchange='dbms movimentacoes mov_tipos update'
                        )

                .two.wide.center.aligned.column
                    | {item.codigo}

                .twelve.wide.column
                    i.edit.icon(
                        rv-row-key='item.mov_tipos_key'
                        server='dbms movimentacoes mov_tipos edit'
                    )
                    | {item.mov_tipo}

                .one.wide.center.aligned.column
                    .ui.checkbox
                        input(
                            type='checkbox'
                            rv-checked='item._selected_'
                            rv-row-selected='item._selected_'
                        )