//
    Template default para: dbms.movimentacoes.mov_tipos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.two.wide Ativo
            th.two.wide Código
            th.six.wide Tipo de Movimentação
            th.five.wide Categoria
            th.one.wide
    tbody
        tr(
            rv-each-row='dbms.movimentacoes.mov_tipos.data.rows'
            rv-row-key='row.mov_tipos_key'
        )

            td
                .ui.toggle.checkbox
                    input(
                    type="checkbox"
                    rv-checked='row.ativo'
                    rv-row-key='row.mov_tipos_key'
                    server-onchange='dbms movimentacoes mov_tipos update'
                    )
            td(
            rv-row-key='row.mov_tipos_key'
            server='dbms movimentacoes mov_tipos edit'
            )
                i.edit.icon
                |  {row.codigo}
            td {row.mov_tipo}
            td {row.tipos_categoria}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )
