//
    Template default para: dbms.enderecos.end_tipos
    Criado em Sun May 29 2016 08:57:57 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.one.wide Código
            th.two.wide Ativo
            th.twelve.wide Tipo de Endereço
            th.one.wide
    tbody
        tr(
            rv-each-row='dbms.enderecos.end_tipos.data.rows'
            rv-row-key='row.end_tipos_key'
        )
            td(class='center aligned') {row.end_tipos_key}
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='row.ativo'
                        rv-row-key='row.end_tipos_key'
                        server-onchange='dbms enderecos end_tipos update'
                    )
            td(
                rv-row-key='row.end_tipos_key'
                server='dbms enderecos end_tipos edit'
            )
                i.edit.icon
                |  {row.end_tipo}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )
