//
   Created by labs on 04/05/16.
    -  Top 5 Credores
    -  Top 5 Devedores
    -  Top 5 Impacto Conta Gerencial - Pagar
    -  Top 5 Impacto Conta Gerencial - Receitas
    -  Projeção de resultado


.ui.two.stackable.cards

    // **** Chart Desempenho **** //
    .ui.card
        .content
            span.right.floated
                +periodo('dbms.financeiro.fin_lancamentos')
            .header Desempenho Projetado
            .meta 1o Semestre / 2016

        .description.app-no-border(
            rv-class-app-blue-box="cockpit.struct.forecast.result | isGreater '0'"
            rv-class-app-red-box="cockpit.struct.forecast.result | isLess '0'"
        )
            canvas#chart_forecast
        .extra.content
            span.right.floated
                | Resultado Projetado: R$ {cockpit.struct.forecast.result | numberFormat 2 ',' '.'}

            span
                i.settings.icon
                | Configurar




    // **** Chart Impacto **** //
    // Gráfico para demonstrar a composição das contas provisionadas
        Exibir a distribuição de provisionamento a pagar e a a receber por contas
        Grafico pizza ou barra

        - Impostos vira Controle de retenções
          - Quanto? Pra quem? Pra quando? Qual categoria? Conta de provisionamento?

        - Taxas e fretes vira Despesas Acessórias, e, embora identico a retencoes, imlementar separado

    .ui.fluid.card
        .content
            //i.right.floated.warning.sign.icon
            .header Mapa de Impacto
                .meta Principais Receitas e Despesas do Período
        .description.app-no-border(
            rv-class-app-blue-box="cockpit.struct.forecast.result | isGreater '0'"
            rv-class-app-red-box="cockpit.struct.forecast.result | isLess '0'"
        )
            canvas#chartImpacto
        .extra.content
            span.right.floated
                i.info.circle.icon
                | 1o Semestre / 2016

            span
                i.settings.icon
                | Configurar



    // **** Despesas **** //
    .ui.card
        .content
            .ui.mini.compact.right.floated.secondary.menu

                // Menu Agrupamento
                +seletorMenu('dbms.financeiro.fin_apagar.pivotOpts', 'tasks')

                // Menu Listagem / Chart
                +seletorMenu('dbms.financeiro.fin_apagar.displayOpts', 'pie chart')

                // Popup
                a.item
                    i.cursor.external.icon(
                        client='app areas show'
                        data-area='app-financas'
                        data-subarea='app-apagar'
                    )

            .header Pagamentos Programados
            .meta &nbsp;&nbsp;Período {periodo.de} à {periodo.ate}
            .description
                canvas.transition.hidden#pie_apagar

                // Listagem
                +listFinAPagarMini()

        .extra.content
            span.right.floated
                | Total à Pagar: R$ {dbms.financeiro.fin_apagar.data.group._stats.sum.valor_bruto | money}



    // **** Receitas **** //
    .ui.card
        .content
            .ui.mini.compact.right.floated.secondary.menu

                // Menu Agrupamento
                +seletorMenu('dbms.financeiro.fin_areceber.pivotOpts', 'tasks')

                // Menu Listagem / Chart
                +seletorMenu('dbms.financeiro.fin_areceber.displayOpts', 'pie chart')

                // Popup
                a.item
                    i.cursor.external.icon(
                        client='app areas show'
                        data-area='app-financas'
                        data-subarea='app-areceber'
                    )

            .header Recebimentos Programados
            .meta &nbsp;&nbsp;Período {periodo.de} à {periodo.ate}
            .description
                canvas.transition.hidden#pie_areceber

                // Listagem
                +listFinAReceberMini()


        .extra.content
            .right.floated
                | Total à Receber: R$ {dbms.financeiro.fin_areceber.data.group._stats.sum.valor_bruto | money}
