//
    Template default para: dreams.dreams.dream_categorias
    Criado em Fri Jun 17 2016 15:44:50 GMT-0300 (BRT)

table.ui.compact.striped.celled.table
    thead
        tr.cursor
            th.one.wide Ativo
            th.one.wide Ordem
            th.six.wide Categoria
            th.eight.wide Sub Categoria
    tbody
        tr(rv-each-row='dreams.dreams.dream_subcategorias.data.rows')
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='row._active'
                        rv-row-key='row.dream_subcategorias_key'
                        server-onchange='dreams dreams dream_subcategorias update'
                    )

            td
                | {row.num_order}

            td
                | {row.category}

            td(
                rv-row-key='row.dream_subcategorias_key'
                server='dreams dreams dream_subcategorias edit'
            )
                i.edit.icon
                | {row.subcategory}
