//
    Template default para: dbms.contabil.cont_categorias
    Criado em Sun May 29 2016 08:57:35 GMT-0300 (BRT)

table.ui.selectable.table
    thead
        tr.cursor
            th.two.wide Código
            th.thirteen.wide Categoria
            th.one.wide
    tbody
        tr(
            rv-each-row='dbms.contabil.cont_categorias.data.rows'
            rv-row-key='row.cont_categorias_key'
        )
            td
                .ui.toggle.checkbox
                    input(
                        type="checkbox"
                        rv-checked='row.ativo'
                        rv-row-key='row.cont_categorias_key'
                        server-onchange='dbms contabil cont_categorias update'
                    )
            td(
                rv-row-key='row.cont_categorias_key'
                server='dbms contabil cont_categorias edit'
            )
                i.edit.icon
                |  {row.cont_categoria}
            td
                .ui.checkbox
                    input(
                    type='checkbox'
                    rv-checked='row._selected_'
                    rv-row-selected='row._selected_'
                    )
